/* -----------main form---------- */
.authorization {
  margin: 150px auto;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #FFAB91;
}

.content {
  width: 75%;
  padding: 50px;
}

.logo {
  width: 24px;
  margin: 0 auto;
  padding-top: 20px;  
}

/*-----Header--------*/
.header {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #474747;
  margin-bottom: 30px;
}

/* -----messages----- */
.message {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-style: italic;
  padding: 5px;
  color: #F44336;
}

.message-success{
  color: #4CAF50;
}

/*-------inputs-------*/
.form-group {
  margin: 7px 0;
}

.form-control {
  width: 100%;
}

.form {
  font-size: 1.2em;
}

/* ------validation-text------ */
.form-help-text {
  font-style: italic;
  font-size: .8em;
  color: #F44336;
}

/*----buttons and checkboxes-----*/
.buttons {
  display: flex;
  flex-direction: column;

}

.checkbox {
  margin: 15px 0;
}

/* .checkbox-frogot {
  display: flex;
  justify-content: space-between;
}

.forgot-link {
  text-decoration: none;
  align-self: center;
} */

.button {
  color: #FFAB91;
  text-transform: uppercase;
}

.button:hover {
  color: #FFDDC1;
}

.button:disabled {
  color: #474747;
  background-color: rgb(251, 208, 195);
}

/* ------or-line------ */
/* .or {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
}

.or-line {
  width: 40%;
}

.or-text {
  text-transform: uppercase;
  color: #474747;
  font-size: 1.2em;
  font-weight: 700;
} */

/* -----social-links------ */
/* .button-facebook {
  background-color: #3B5998;
  color: #CCC;
  text-transform: uppercase;
}

.button-facebook:hover {
  color: #FFF;
}

.button-gmail {
  margin-top: 15px;
  background-color: #D04E41;
  color: #CCC;
  text-transform: uppercase;
}

.button-gmail:hover {
  color: #FFF;
} */

/* -----router-links------ */
.router {
  margin-top: 10px; 
  display: flex;
  justify-content: space-between;
}

.router__link {
  text-decoration: none;
}

/*----text settings-----*/
a {
  color: #3F51B5;
}


