<h2 class="header">Create an account</h2>

<form 
    class="input"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>

    <div 
        class="form-group"
        [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"

    >
        <mat-form-field class="form-control">
            <input 
            id="new-email" 
            class="input-email" 
            matInput type="text" 
            placeholder="Email"
            formControlName="email"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="form.get('email').invalid && form.get('email').touched"
        >
            <span *ngIf="form.get('email')['errors']['required']">Email can't by empty.</span>
            <span *ngIf="form.get('email')['errors']['email']">Enter a valid email.</span>
            <span *ngIf="form.get('email')['errors']['forbiddenEmail']">User with such email already exists.</span>
        </span>

    </div>

    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"

    >
        <mat-form-field class="form-control">
            <input 
            id="name" 
            class="input-name" 
            matInput type="text" 
            placeholder="Name"
            formControlName="name"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="form.get('name').invalid && form.get('name').touched"
        >
            <span *ngIf="form.get('name')['errors']['required']">Name can't by empty.</span>
        </span>

    </div>

    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
    >
        <mat-form-field class="form-control">
            <input 
            id="password" 
            class="input-password" 
            matInput type="password" 
            placeholder="Password"
            formControlName="password"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="form.get('password').invalid && form.get('password').touched"
        >
            <span *ngIf="form.get('password')['errors']['required']">Password can't by empty.</span>
            <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
            Password must be more than 
            {{ form.get('password')['errors']['minlength']['requiredLength'] }} 
            characters. Now {{ form.get('password')['errors']['minlength']['actualLength'] }}.</span>
        </span>

    </div>

    <mat-card-actions class="buttons">
        <div
            class="checkbox-container"
            [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}"
        >
            <mat-checkbox
                class="checkbox"
                id="agree"
                type="checkbox"
                formControlName="agree"
            >
                I agree
            </mat-checkbox>
        </div>

        <button
            type="submit"
            mat-button
            class="button__item button"
            [disabled]="form.invalid"
        >
            Register
        </button>

    </mat-card-actions>

    <p class="router">
        You have account?
        <a 
            class="router__link" 
            [routerLink]="'/login'"
        >
            Login
        </a>
    </p>

</form>