<h2 class="header">Create an account</h2>

<form 
    class="form"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
>

    <app-alert class="message"></app-alert>

    <div 
        class="form-group"
        [ngClass]="{'has-error': registrationForm.get('email').invalid && registrationForm.get('email').touched}"

    >
        <mat-form-field class="form-control">
            <input 
            id="new-email" 
            class="input-email" 
            matInput type="text" 
            placeholder="Email"
            formControlName="email"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched"
        >
            <span *ngIf="registrationForm.get('email')['errors']['required']">Email can't by empty.</span>
            <span *ngIf="registrationForm.get('email')['errors']['email']">Enter a valid email.</span>
            <span *ngIf="registrationForm.get('email')['errors']['forbiddenEmail']">User with such email already exists.</span>
        </span>

    </div>

    <div
        class="form-group"
        [ngClass]="{'has-error': registrationForm.get('name').invalid && registrationForm.get('name').touched}"

    >
        <mat-form-field class="form-control">
            <input 
            id="name" 
            class="input-name" 
            matInput type="text" 
            placeholder="Name"
            formControlName="name"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched"
        >
            <span *ngIf="registrationForm.get('name')['errors']['required']">Name can't by empty.</span>
            <span *ngIf="registrationForm.get('name')['errors']['minlength'] && registrationForm.get('name')['errors']['minlength']['requiredLength']">
                Name must be more than {{ registrationForm.get('name')['errors']['minlength']['requiredLength'] }} 
                characters. Now {{ registrationForm.get('name')['errors']['minlength']['actualLength'] }}.
            </span>
        </span>

    </div>

    <div
        class="form-group"
        [ngClass]="{'has-error': registrationForm.get('password').invalid && registrationForm.get('password').touched}"
    >
        <mat-form-field class="form-control">
            <input 
            id="password" 
            class="input-password" 
            matInput type="password" 
            placeholder="Password"
            formControlName="password"
            >
        </mat-form-field>

        <span
            class="form-help-text"
            *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched"
        >
            <span *ngIf="registrationForm.get('password')['errors']['required']">Password can't by empty.</span>
            <span *ngIf="registrationForm.get('password')['errors']['minlength'] && registrationForm.get('password')['errors']['minlength']['requiredLength']">
                Password must be more than 
                {{ registrationForm.get('password')['errors']['minlength']['requiredLength'] }} 
                characters. Now {{ registrationForm.get('password')['errors']['minlength']['actualLength'] }}.
            </span>
        </span>

    </div>

    <div
        class="checkbox-container form-group"
        [ngClass]="{'has-error': registrationForm.get('agree').invalid && registrationForm.get('agree').touched}"
    >
        <mat-checkbox
            class="checkbox"
            id="agree"
            color="primary"
            type="checkbox"
            formControlName="agree"
        >
            I agree
        </mat-checkbox>
    </div>

    <mat-card-actions class="buttons form-group">

        <button
            type="submit"
            color="primary"
            mat-raised-button
            class="button__item button"
            [disabled]="registrationForm.invalid"
        >
            Register
        </button>

    </mat-card-actions>

    <p class="router form-group">
        You have account?
        <a 
            class="router__link" 
            [routerLink]="'/login'"
        >
            Login
        </a>
    </p>

</form>