<mat-card class="header">

	<div class="burger">
		<button 
		mat-fab  
		(click)="sidenav.toggle()"
		class="burger-button">
		</button>
	</div>

	<div class="logo">
		<a class="logo-title" [routerLink]="'/videoplayer'"><h2>Lern Leng</h2></a>
	</div>

	<form 
	class="search"
    [formGroup]="searchForm"
	(ngSubmit)="onSubmitSearch()"
	>
	
		<div 
		class="search-input-container"
		>

			<mat-form-field 
			class="search-input form-group"
			>
				<input
				matInput
				class="search-input__item form-control"
				type="url"
				placeholder="Pleace, input URL"
				formControlName="videoLink"
				>
			</mat-form-field>

		</div>

		<button 
		mat-fab 
		class="search-button"
		type="submit"
		>
		</button>

	</form>

	<div class="user-data">
		<h3 class="user-name">Name</h3>
		<img class="user-avatar" src="../../assets/images/avatar.png" alt="user-avatar">

		<a class="logout" (click)="logout()">
			logout
		</a>
	</div>

</mat-card>

<mat-sidenav-container class="main-content">

	<mat-sidenav
	class="article"
	#sidenav
	mode="side" 
	[(opened)]="opened"
	>
	<div class="menu-list">
			<a 
			[routerLink]="'/system/videoplayer'"
			class="menu-item"
			>
				<img class="menu-item__img" src="../../assets/images/videoplayer_24px.svg" alt="Videoplayer-image">
				Videoplayer
			</a>
			<a 
			[routerLink]="'/system/dictionary'"
			class="menu-item"
			>
				<img class="menu-item__img" src="../../assets/images/round-format_list_24px.svg" alt="Dictionary-image">
				Dictionary
			</a>
			<a 
			[routerLink]="'/system/history'"
			class="menu-item"
			>
				<img class="menu-item__img" src="../../assets/images/round-history-24px.svg" alt="History-image">
				History
			</a>
			<a 
			[routerLink]="'/system/aboutus'"
			class="menu-item"
			>
				<img class="menu-item__img" src="../../assets/images/round-contacts-24px.svg" alt="AboutUs-image">
				About Us
			</a>
		</div>

	</mat-sidenav>
	
	<mat-sidenav-content
	class="aside"
	>
		<router-outlet></router-outlet>
	</mat-sidenav-content>

</mat-sidenav-container>